In [2]:
# Question 1
def reverse_string(str):  
    Rev = ""   
    for i in str:  
        Rev = i + Rev  
    return Rev    
     
str = "Adinath"         
print("The original string is: ",str)  
print("The reverse string is",reverse_string(str))

The original string is:  Adinath
The reverse string is htanidA

In [4]:
# Question 2
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
print("Maximum number is: ",max(Choice1,Choice2,Choice3,Choice4))
print("Minimum number is:",min(Choice1,Choice2,Choice3,Choice4))

	 Enter your 1st number: 12

	 Enter your 2st number: 25

	 Enter your 3st number: 56

	 Enter your 4st number: 84
Maximum number is:  84
Minimum number is: 12

In [5]:
# Question 3
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
Choice=[Choice1,Choice2,Choice3,Choice4]
print("Addition of number is: ",sum(Choice))

	 Enter your 1st number: 26

	 Enter your 2st number: 54

	 Enter your 3st number: 27

	 Enter your 4st number: 56
Addition of number is:  163

In [8]:
# Question 4
def P1():
    P=12
    Q="Adinath"
    R=14+13
print(P1.__code__.co_nlocals)

3

In [9]:
# Question 5
Even=[25,46,85,35,46,26,34]

for Num in Even:
    if Num %2==0:
        print(Num)

46
46
26
34